.navbar {
	background-color: #3c3173;
	color: #f5f5f5;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f5f5f5;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #337ab7;
}

body {
	color:;
}

.lang {
	background-color: #3c3173;
	color: #f5f5f5;
	padding: 10px;
	text-align: center;
}

.nav-pills {
	text-align: left;
}

.thongtintimkiem {
	background-color: #b75d5d;
	color: #f5f5f5;
	padding: 20px;
}

.form-inline {
	padding-bottom: 40px;
}

#duoi {
	margin-top: 50px!important;
    padding-top: 50px;
    height: 100px;

}

.selectfields {
	background-color: blue;
	color: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	color: #f5f5f5 !important;
	cursor: not-allowed;
	background-color: #75bee0 !important;
	border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
	background-color: #75bee0 !important;
	color: #f5f5f5 !important;
}

.pagination>li>a, .pagination>li>span {
	background-color: #75bee0 !important;
	margin-left: 6px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.pagination>.active>a {
	background-color: #347d9e !important;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	color: #f5f5f5 !important;
	text-decoration: none;
}

.close {
	color: #f5f5f5 !important;
	opacity: 1 !important;
	text-shadow: 0 0px 0 #fff !important;
}
table.dataTable td.dataTables_empty {
    text-align: left; 
    color:red;  
}